input(type='button', name='back', value='Back')
input(type='button', name='submit', value='Submit')
input(type='button', name='restart', value='Restart')
br
br
br
p This is private property of Crazy Squirrels Ltd.