p
	ul
		li #[a(style="color: blue") Contact us]
			ul
				li By post: Post address, town, country etc
				li #[a(href='mail@example.com') By mail]
				li #[a(href='livechat.php') Live chat window]
				li #[a(href='telephone') By telephone]
		li #[a(href='maps.php') Find us]
		li #[a(href='complaints.php', style='font-size: 10px') Complaints]