// Normalize Styles
@import 'node_modules/normalize.css/normalize';

// Import Modules
@import '../_modules/link/link';

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.yeogurt-info {
  text-align: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.version {
  font-size: 14px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.logo {
  margin: center;
  padding: 5px;
  border-color: gray;
  border-style: none;
  font-family: monospace, sans-serif;
  font-size: 15px;
  text-align: center;
  color: gray;
  width: 100%, url(/images/topimage.jpg);
}

// Styling on warning for users on IE7 or below
.browsehappy {
  text-align: center;
  margin: 0;
  background: #fff8e2;
  color: #000;
  padding: 0.5em 0;
}

.euimage {
  text-align: left;
  border-color: #000;
  border-style: solid 10px;
  border-radius: 10%;
  padding: 10px;
  padding-left: 10px;
  margin: 10px;
  margin-left: 0px;
}

.container-fluid {
  background: url(/images/background1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.col-xs-4 {
  font-family: verdana;
  color: white;
  font-size: 20px;
}


