extends _layouts/base

include _modules/link/link

block content
    body.browsehappy
    h1 The prossecco terrorizing critter!
    p Welcome to my #[strong jade] experience 
        br
    #div1 Booyakasha
        br
    #div1
        |#[strong Testing] the #[a(href='www.prosecco.com') link] with prosecco critter 
        br
    img(src="/drunk.jpg" alt="Nu merge domne")
    #div2
        br
        button Likescovici
        button Infoscovici
        button Deletescovici
        br
        form
            input(type='radio' checked)
            |Human
            br
            input(type='checkbox')
            |Animal
            br
            input(type='text', placeholder='Squirrel')
            br
            br
    include ./_layouts/footer.jade