extends _layouts/base

include _modules/link/link


block content
	.container-fluid
		.row#row1
			.col-xs-4 
				img.img-responsive.euimage(src='images/eu.jpg', alt='Profile picture')
				h2(style='color: #B5B999') Silviu Daniel Varvara
			.col-xs-8
				h1.logo
					img.img-responsive(src='images/topimage.jpg', alt='Background image', width='100%')

					p(style='background-color: #000') Technology is nature
	.row#row2
		ul.nav1#myNav1
			li 
				a(href='#home') Home
			li
				a(href='#photos') Photos
			li
				a(href='#projects') Projects
			li
				a(href='#social') Social
	.bottomc
		.leftc#pdetails
			.panel#left1
				.panel-header Contact
				.panel-body 
				ul
					li Tel
					li Address
					li E-mail

			.panel#left2
				.panel-header Education
				.panel-body
				ul
					li Online course1
					li Online course2
					li Online course3
					li College
					li GCSE's
			.panel#left3
				.panel-header Portfolio
				.panel-body
				ul 
					li Link
					li Link
					li Link
			.panel#left4
				.panel-head Search
				.panel-body
					input(type='textarea')
		.rightc
			.panel#panel1
				.panel-header About me
				.panel-head #[strong Personal letter]
				.panel-body Pipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper semper odio a tempor. Aenean sodales lacinia interdum. Nulla a velit elit. Quisque imperdiet purus non ipsum efficitur, nec euismod odio tincidunt. Duis dignissim mauris quam, sed efficitur dui euismod sed. Nullam nec libero blandit ante gravida efficitur. Donec rhoncus tortor et iaculis finibus. Nunc vel auctor est, vel faucibus felis.

			.panel#panel1
				.panel-header Working experience
				.panel-head Lettings consultant
				.panel-body
					ul 
						li #[strong Company name:] ui fficitur. Donec rhoncus tortor et iaculis finibus.fficitur. Donec rhoncus tortor et iaculis fir et iaculis finibus.euismod sed. Nullam nec libero blandit ante graviddales lacinia interdum. Nulla a velit elit. Quisque imperdiet purus non ipsum efficitur, nec euismod odio tincidunt. Duis dignissim mauris quam, sed efficitur dui euismod sed. Nullam nec libero blandit ante
						br
						li #[strong Contact:] auris quam, sed efficitur dui euismod sed. Nullam ne
						br
						li #[strong Primary duties:] fficitur. Donec rhoncus tortor et iaculis finibus.
			.panel#panel1
				.panel-head Assistant manager
				.panel-body
				ul
					li #[strong Company:] Donec rhoncus tortor et iaculis finibus.fficitur. Donec rhoncus tortor et iaculis fir et iaculis finibus.euismod sed. Nullam nec libero blandit ante graviddales lacinia interdum. Nulla a velit elit. Quisque imperdiet purus non ipsum efficitur, nec euismod odio tincidunt. Duis dignissim mauris quam, sed efficitur dui euismod sed. Nullam nec libero blandit ante
					li #[strong Contact:] interdum. Nulla a velit elit. Quisque imperdiet purus non ipsum efficitur, nec euismod odio tincidunt. Duis dignissim mauris quam, sed efficitur dui euismod sed. Nullam nec libe
					li #[strong Primary duties:] interdum. Nulla a velit elit. Quisque imperdiet purus non ipsum efficitur, nec euismod odio tincidunt. Duis dignissim mauris quam, sed efficitur dui euismod sed. Nullam nec libeinterdum. Nulla a velit elit. Quisque imperdiet purus non ipsum efficitur, nec euismod odio tincidunt. Duis dignissim mauris quam, sed efficitur dui euismod sed. Nullam nec libe
			.panel#panel1
				.panel-head Assistant manager
				.panel-body
				ul
					li #[strong Company:] Donec rhoncus tortor et iaculis finibus.fficitur. Donec rhoncus tortor et iaculis fir et iaculis finibus.euismod sed. Nullam nec libero blandit ante graviddales lacinia interdum. Nulla a velit elit. Quisque imperdiet purus non ipsum efficitur, nec euismod odio tincidunt. Duis dignissim mauris quam, sed efficitur dui euismod sed. Nullam nec libero blandit ante
					li #[strong Contact:] interdum. Nulla a velit elit. Quisque imperdiet purus non ipsum efficitur, nec euismod odio tincidunt. Duis dignissim mauris quam, sed efficitur dui euismod sed. Nullam nec libe
					li #[strong Primary duties:] interdum. Nulla a velit elit. Quisque imperdiet purus non ipsum efficitur, nec euismod odio tincidunt. Duis dignissim mauris quam, sed efficitur dui euismod sed. Nullam nec libeinterdum. Nulla a velit elit. Quisque imperdiet purus non ipsum efficitur, nec euismod odio tincidunt. Duis dignissim mauris quam, sed efficitur dui euismod sed. Nullam nec libe