extends _layouts/base

include _modules/link/link


block content

	.container-fluid
		.row
			.col-xs-4 
					img.img-responsive.euimage(src='images/eu.jpg', alt='Profile picture')
					p Silviu Daniel Varvara
			.col-xs-8
				h1.logo
					img.img-responsive(src='images/topimage.jpg', alt='Background image', width='100%')

					p(style='background-color: #000') Technology is nature
		