extends _layouts/base

include _modules/link/link

block content
  body(style='text-align: center')
    h1(style='font-family: monospace; font-size: 30px; color:red') The prossecco terrorizing critter!
    p(style='font-family: verdana') Welcome to my #[strong jade] experience
    br
    |#[strong Testing] the #[a(href='www.prosecco.com') link] with prosecco critter 
    br
    img(src="drunk.jpg" alt="esti tampit")
    br
    button Likescovici
    button Infoscovici
    button Deletescovici
    br
    form
        input(type='radio' checked)
        |Om
        br
        input(type='checkbox')
        |Animal
        br
        input(type='text', placeholder='Veverita')
